{% extends 'scgindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
  .ash{
  border:1px solid #adb5bd;
  padding:25px;
  border-radius: 0 10px 10px 10px;
  width:600px;
      height: 150px;

  }
  .head{
  padding:22px;
  }
</style>
<div class="head" style="background-color:#ced4da; width:100%; text-align:center">
    <h3>CHATS</h3>
</div>

<div class="card">
  <div class="card-body">
      {% for i in data %}
        <div class="ash mt-4" style="background-color: #0c5460">
            <u style="color: red"><h6 style="color: red">{{i.user}}</h6></u>
          <i style="color: white"><b><p class="mt-3">{{i.chat}}</p></b></i>
          <h6 style="text-align: right">{{i.time}}</h6>
      </div>

    {% endfor %}


  </div>
</div>
<a type="submit" class="btn btn-primary" href="{% url 'addschat'%}">Enter your message here...</a>
{% endblock %}