{% extends 'tindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: black"><u>Payment Notifications</u></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl_no</th>
                            <th>course name</th>
                            <th>department</th>
                            <th>student name</th>
                            <th>date</th>
                            <th>last date</th>
                            <th>notification</th>
                            <th>amount</th>


                            <th>update</th>
                            <th>delete</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                            <td class="py-1">{{ forloop.counter }}</td>
                            <td>{{ i.course }}</td>
                            <td>{{ i.department }}</td>
                            <td>{{ i.name_and_email}}</td>
                            <td>{{ i.date}}</td>
                            <td>{{ i.last_date}}</td>
                            <td>{{ i.notification}}</td>
                            <td>{{ i.amount}}</td>



                            <td><a href="{% url 'upnotification' i.id %}">update</a></td>
                            <td><a href="{% url 'delenotification' i.id %}">delete</a> </td>




                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}