{% extends 'tcgindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="color: black"><u>Assignment</u></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl_no</th>
                            <th>student name</th>
                            <th>course</th>
                            <th>department</th>
                            <th>date</th>
                            <th>subject</th>
                            <th>Assignment</th>
                            <th>mark</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                            <td>{{i.user}}</td>
                          <td>{{ i.course }}</td>
                          <td>{{ i.department}}</td>
                          <td>{{ i.date }}</td>
                          <td>{{ i.subject}}</td>
                            <td>
                                <a class="btn btn-primary" href="{{i.assignment}}"download>download</a>
                          </td>

                          <td>
                              {% if i.replay == None %}
                              <a class="btn btn-primary" href="{% url 'addassignmentmark' i.id %}">Add mark</a>
                              {% else %}
                              {{i.replay}}
                              {% endif %}
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}