{% extends 'tcgindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="color:black"><u>Parents Meeting</u></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl_no</th>
                            <th>date</th>
                          <th>time</th>
                          <th>course</th>
                          <th>department</th>
                          <th>content</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                            <td>{{ i.date}}</td>
                          <td>{{ i.time}}</td>
                          <td>{{ i.course}}</td>
                          <td>{{ i.department}}</td>
                            <td>{{i.content}}</td>


                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}