{% extends 'pcgindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="color: black"><u>Mark</u></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl_no</th>
                            <th>student</th>
                            <th>course</th>
                            <th>department</th>
                          <th>s1</th>
                            <th>s2</th>
                          <th>s3</th>
                          <th>s4</th>
                          <th>s5</th>
                          <th>s6</th>
                          <th>total</th>
                          <th>status</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{i.student}}</td>
                          <td>{{ i.course }}</td>
                          <td>{{ i.department}}</td>
                          <td>
                            {% if i.s1 <= 35 %}
                            <p style="color: red">{{i.s1}}</p>
                            {% else %}
                            <p style="color: green">{{i.s1}}</p>
                            {% endif %}
                            </td>

                            <td>{% if i.s2 <= 35 %}
                            <p style="color: red">{{i.2}}</p>
                            {% else %}
                            <p style="color: green">{{i.s2}}</p>
                            {% endif %}
                            </td>

                            <td>
                              {% if i.s3 <= 35 %}
                            <p style="color: red">{{i.s3}}</p>
                            {% else %}
                            <p style="color: green">{{i.s3}}</p>
                            {% endif %}
                            </td>

                            <td>
                              {% if i.s4 <= 35 %}
                            <p style="color: red">{{i.s4}}</p>
                            {% else %}
                            <p style="color: green">{{i.s4}}</p>
                            {% endif %}
                            </td>

                            <td>{% if i.s5 <= 35 %}
                            <p style="color: red">{{i.s5}}</p>
                            {% else %}
                            <p style="color: green">{{i.s5}}</p>
                            {% endif %}
                            </td>

                            <td>
                              {% if i.s6 < 35 %}
                            <p style="color: red">{{i.s6}}</p>
                            {% else %}
                            <p style="color: green">{{i.s6}}</p>
                            {% endif %}
                            </td>
                            <td>
                              {{i.total}}
                              </td>
                          <td>
                            {% if i.s1 < 35 or i.s2 < 35 or i.s3 < 35 or i.s4 < 35 or i.s5 < 35 or i.s6 < 35 %}
                              <p style="color: red">Fail</p>
                            {% else %}
                              <p style="color: green">Pass</p>
                            {% endif %}
                          </td>


                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}