{% extends 'adindex.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="color: black"><u>Course</u></h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                            <th>sl_no</th>
                          <th>course name</th>
                            <th>department</th>
                          <th>explanation</th>
                          <th>course duration</th>
                          <th>update</th>
                          <th>delete</th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                          <td class="py-1">{{ forloop.counter }}</td>
                          <td>{{ i.course_name }}</td>

                          <td>{{ i.department }}</td>
                          <td>{{ i.explanation}}</td>
                          <td>{{ i.course_duration }}</td>
                          <td><a href="{% url 'upcourse' i.id %}">update</a></td>
                          <td><a href="{% url 'delecourse' i.id %}">delete</a> </td>




                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}